@model IEnumerable<BoardGamePicker.Models.BoardGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Game List</h1>

<p>
    <a asp-action="Create">Add New Game</a>
</p>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="BoardGames" asp-action="Index" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Title</label>
                    <input type="text" name="Title" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Players</label>
                    <input type="text" name="Players" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Mintutes</label>
                    <input type="text" name="Minutes" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="submit" value="Filter List" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
